.static_box {
  border-radius: 14px;
  width: 100%;
  min-height: 472px;
  background: #fff;
  margin-top: 20px;
  padding: 16px;
  box-sizing: border-box;
  cursor: pointer;
}

.static_box_title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #000;
  margin: 20px 0 8px 24px;
}

.static_box_description {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #8e8e93;
  margin-left: 24px;
  margin-bottom: 12px;
}

.static_box_img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  
}


.country {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  color: #000;
}

.static_box_text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  margin-top: 25px;
  flex-wrap: wrap;
}

.static_box_btn {
  border: 2px solid #27ae60;
  border-radius: 30px;
  width: 129px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(39, 174, 96, 0.2);
  background: #27ae60;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #fff;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.static_box_btn:hover {
  background: #fff;
  color: #27ae60;
}

.diagnos_text {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.42857;
  letter-spacing: 0.04em;
  color: #000;
}

.static_box_button {
  display: flex;
  justify-content: flex-end;
}

.no_risk {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  color: #8e8e93;
  text-align: center;
  margin-top: 180px;
}

.static_box_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  flex: 1;
}

.section_wrapper {
  display: flex;
  gap: 40px;
  width: 100%;
}

.chart{
  height: 300px;  
}


@media (max-width: 664px) {
  .static_box_wrapper {
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 0 30px;
  }
}

@media (max-width: 924px) {
  .static_box_button {
    order: -1;
    margin-right: 10px;
  }
}

@media (max-width: 440px) {
  .static_box_text {
    flex-direction: column;
    gap: 12px;
  }

  .static_box_img img,
  .diagnos {
    width: 80%;
  }

  .static_box {
    padding: 12px;
  }
}
