.sidebar_box {
  border-radius: 14px;
  max-width: 260px;
  width: 100%;
  height: 472px;
  padding: 10px 16px;
  margin-top: 20px;
  margin-left: 20px;
  background: #fff;
}
.menu_btn {
  display: none;
  position: fixed;
  top: 18px;
  left: 15px;
  background: #1e293b;
  color: white;
  border: none;
  padding: 5px 5px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.filter_wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.close_btn:hover {
  background-color: #2f80ed;
}

.close_btn:active {
  background-color: #1c5fd4;
}

.box_wrapper {
  display: flex;
  align-items: center;
  gap: 24px;
  padding: 8px 12px;
  border-radius: 12px;
  transition: all 0.3s ease;
  margin-top: 3px;
}
.box_wrapper:hover {
  background: linear-gradient(90deg, #2f80ed, #56ccf2);
  cursor: pointer;
  /* transform: translateY(-4px); */
  box-shadow: 0 4px 12px rgba(47, 128, 237, 0.3);
  
}

.box_wrapper:hover .box_title,
.box_wrapper:hover .icon {
  color: #fff;
}

.box_wrapper.active {
  background: linear-gradient(90deg, #1c5fd4, #2f80ed);
  transform: translateY(0);
  box-shadow: 0 2px 6px rgba(47, 128, 237, 0.5);
  margin-top: 5px;

}

.box_wrapper.active .box_title,
.box_wrapper.active .icon {
  color: #e0e0e0;
}

.box_title {
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.87);
}

.icon {
  color: #999;
  font-size: 24px;
  transition: color 0.3s ease;
}

.close_btn {
  display: none;
}

@media (max-width: 992px) {
  .sidebar_box {
    max-width: 220px;
    padding: 8px 12px;
    margin: 20px;
  }
  .box_title {
    font-size: 14px;
  }
  .icon {
    font-size: 16px;
  }
}

@media screen and (max-width: 924px) {
  .menu_btn {
    display: block;
  }

  .wrapper {
    flex-direction: column-reverse;
  }
  .button {
    padding: 15px;
  }

  .sidebar_box {
    position: fixed;
    top: 0;
    left: -100%;
    max-width: 100vw;
    height: 100vh;
    background-color: #fff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    z-index: 9999;
  }

  .box_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    width: 90%;
  }

  .close_btn {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    background: #1e293b;
    color: white;
    border: none;
    padding: 5px 8px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 8px;
  }

  .sidebar_box.active {
    left: 0;
  }
}
